<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">

    <title>CsED</title>

    <!-- Import Montserrat font -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <!-- Normalize.css fixes lot of differences between browsers default styles -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css"/>

    <!-- project wide styling -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style/site.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/header.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/footer.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/background.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/button.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/card.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/table.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/form.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/grid.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/utils.css') }}">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- page specific styling -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style/detailed-view.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/search.css') }}">


</head>

<body>
<div id="body-wrapper">
    <header class="clearfix">
        <img id="header-logo" src="{{ url_for('static', filename='assets/codecool-logo.png') }}" alt="Codecool Logo">
        <span id="header-title" class="title">
                        Codecool Series DB
                    </span>
        <div id="header-auth">
            <button type="button" id="bt_register">Register</button>
            <button type="button" id="bt_login">Login</button>
        </div>
    </header>
    <section>
        <h1 class="title text-center">Welcome page</h1>
        <div class="card">
            <h2>Welcome TV show lovers!</h2>
            <p>This great site is happy to bring you your favourite TV show's <i>details</i>.</p>
            <p></p>
            <p>Okay, actually this is a designed dumb page without any logic.</p>
            <p>You can find a navigational element, the so called "breadcrumb" above the page's title. Use it for
                in-depth
                navigation.
            </p>
        </div>
        <div class="card">
            <form action="/search" method="post">
                <p class="form-element">
                    <label class="form-element-label" for="form-example-season">Title:</label>
                    <input type="text" name="title" id="title">
                </p>
                <p class="text-center">
                    <button type="submit">Submit</button>
                </p>
            </form>
            <table>
                <thead>
                <tr>
                    <th>Title</th>
                    <th>Rating</th>
                    <th>Year</th>
                    <th class="action-column">Watch trailer</th>
                </tr>
                </thead>
                <tbody>
                {% for result in results %}
                    <tr>
                        <td>{{ result.title }}</td>
                        <td>{{ result.rating }}</td>
                        <td>{{ result.year }}</td>
                        <td class="action-column">
                            <button type="button" class="icon-button" id="myButton" data-toggle="modal">
                                <u>Click here</u></button>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {% for result in results %}
            <div id="myButton" class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title">YouTube Video</h4>
                        </div>
                        <div class="modal-body">
                            <iframe id="cartoonVideo" width="560" height="315" src="{{ result.trailer }}"
                                    frameborder="0" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>
    <footer>
        Copyright, bla-bla
    </footer>
</div>
<div class="background">
    <div class="dark-blue-layer"></div>
    <div class="light-blue-layer"></div>
</div>
</body>
</html>